<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <title>IDP Registration Portal</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Salsa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="menu">
          <a href="/auth/google/logout">Log Out</a>
        </div>
        <div></div>
        <header>IDP Registration Portal</header>
        <img src="https://picsum.photos/id/685/600/400" alt="">
        <!-- <img src="<%= photo %>" alt="" /> -->
      </div>
      <div class="content">
        <div class="card">
          <div class="student_info">
            <ul>
              <li class="holder">Name:</li>
              <li class="value"><%= name %></li>
              <li class="holder">Admission:</li>
              <li class="value"><%= admission %></li>
              <li class="holder">Enrollment:</li>
              <li class="value"><%= enrollment %></li>
              <li class="holder">Program:</li>
              <li class="value"><%= program %></li>
              <li class="holder">School:</li>
              <li class="value"><%= school %></li>
              <li class="holder">Contact:</li>
              <li class="value"><%= contact %></li>
              <li class="holder">Email:</li>
              <li class="value"><%= email %></li>
            </ul>
          </div>
          <div class="main">
            <h1>Choose Your Category</h1>
            <div class="options">
              <a href="/Research"><button>Research</button></a>
              <a href="/Business"><button>Business</button></a>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; 2024 IDP Registration Portal. All rights reserved.</p>
        <div class="icons8">
          <a
            target="_blank"
            href="https://icons8.com/icon/xrwE2Qxg9XYK/hand-cursor"
            >Cursor</a
          >
          icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
