<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <title>IDP Registration Portal</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Salsa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <style>
      .content {
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        padding: 5rem;
        justify-content: flex-start;
      }
      .content > * {
        list-style-type: none;
      }
      .content > img {
        height: 10rem;
        width: 10rem;
      }
      .menu1 {
        padding: 3rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        justify-content: center;
      }
      .scores > ul {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
      }
      .scores {
        display: none;
      }
      .menu1 > li {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.303);
        padding: 1rem;
        transition: 0.3s all;
        cursor: pointer;
      }
      .menu1 > li:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.714);
        transform: scale(1.02, 1.02);
      }
      /*.scores > ul .num1 {
        background-color: #bf0003;
      }
      .scores > ul .num2 {
        background-color: #b53307;
      }
      .scores > ul .num3 {
        background-color: #ac600d;
      }
      .scores > ul .num4 {
        background-color: #a38413;
      }
      .scores > ul .num5 {
        background-color: #7e951a;
      }
      .scores > ul .num6 {
        background-color: #6b911c;
      }
      .scores > ul .num7 {
        background-color: #4a8720;
      }
      .scores > ul .num8 {
        background-color: #307e22;
      }
      .scores > ul .num9 {
        background-color: #1c6a1b;
      }
      .scores > ul .num10 {
        background-color: #0b5008;
      }*/
      .info {
        display: flex;
        flex-direction: column;
      }
      .info .topic {
        /*ellipsis doesn't work properly with display:flex*/
        width: 25rem;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      #searchInput {
        padding: 1rem;
        width: 20rem;
        border-radius: 2rem;
        text-align: center;
        font-size: 1.1rem;
        font-family: "Nunito", sans-serif;
        font-family: "Varela Round", sans-serif;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.634);
        border: none;
      }
      #grid-form {
        /*i don't know why but if i use "form" instead of ".grid-form" and try to set display to grid then it somehows fails and behaves weirdly*/
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin: 2rem 0;
      }
      #grid-form input {
        width: 4.5rem;
        height: 1.5rem;
        border-radius: 30px;
        text-align: center;
        font-weight: bolder;
        font-family: "Nunito", sans-serif;
        font-family: "Varela Round", sans-serif;
      }
      #grid-form label[for="Criteria"] {
        width: 5rem;
        margin: auto;
      }
      #grid-form label[for="name"] {
        margin: auto 0;
      }
      button[type="submit"] {
        background-color: #17e719;
        border: none;
        border-radius: 30px;
        padding: 0.8rem 1rem;
        font-family: "Nunito", sans-serif;
        font-family: "Varela Round", sans-serif;
        cursor: url("/images/cursor.png"), auto;
        transition: 0.3s all;
      }
      button[type="submit"]:hover {
        background-color: #14da18;
        box-shadow: 3px 4px 9px darkgrey;
        transform: scale(1.05, 1.05);
      }
      button[type="submit"]:active {
        transform: scale(0.96, 0.96);
        box-shadow: 3px 4px 9px rgb(75, 74, 74);
      }
      @media (max-width: 682px) {
        #grid-form {
          gap: 0.2rem;
        }
        #grid-form input {
          width: 3.5rem;
        }
        #grid-form label[for="Criteria"] {
          margin: 0 1.3rem;
        }
        button[type="submit"] {
          padding: 0.6rem 0.8rem;
        }
      }
      @media (max-width: 502px) {
        #grid-form {
          gap: 0;
        }
        #grid-form input {
          width: 2rem;
        }
        #grid-form label[for="Criteria"] {
          margin: 0 0.6rem;
        }
        button[type="submit"] {
          padding: 0.4rem 0.6rem;
        }
        .info {
          font-size: 0.8rem;
        }
        .info .topic {
          width: 15rem;
        }
        #searchInput {
          width: 90%;
          font-size: 1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="menu">
          <a href="/auth/google/logout">Log Out</a>
        </div>
        <div></div>
        <header>IDP Registration Portal</header>
        <img src="https://picsum.photos/id/685/600/400" alt="" />
      </div>
      <div class="content">
        <input
          type="text"
          id="searchInput"
          oninput="search()"
          placeholder="Teacher's name..."
        />
        <ul class="menu1">
          <% data.forEach((element) => {%>
          <li class="<%= element.id %>">
            <div class="info">
              <div class="teacherInfo">
                <h2><%= element.name %></h2>
              </div>
              <h4 class="topic"><%= element.project_title %></h4>
            </div>
            <div class="scores <%= element.id %>score">
              <form action="/scoring" method="post" id="grid-form">
                <label for="criteriaHeading">Criteria</label>
                <label for="Criteria">C1</label>
                <label for="Criteria">C2</label>
                <label for="Criteria">C3</label>
                <label for="Criteria">C4</label>
                <label for="Criteria">C5</label>
                <%data1.forEach((element1) => {
                if(element.id==element1.teacher_id){%>
                    <label for="name"><%= element1.name %></label>
                    <input type="number" name="Criteria1" required />
                    <input type="number" name="Criteria2" required />
                    <input type="number" name="Criteria3" required />
                    <input type="number" name="Criteria4" required />
                    <input type="number" name="Criteria5" required />
                <%console.log(element1.name)}})%>
                <button type="submit">Submit</button>
              </form>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="flag1" style="display: none"><%= flag1 %></div>
      <footer>
        <p>&copy; 2024 IDP Registration Portal. All rights reserved.</p>
        <div class="icons8">
          <a
            target="_blank"
            href="https://icons8.com/icon/xrwE2Qxg9XYK/hand-cursor"
            >Cursor</a
          >
          icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
